<div class="container">
    <div style="width: 400px;">
        <h3>{{ isForgotSuccess ? 'Check Email' : 'Find your account'}}</h3>
        
        <p>{{ isForgotSuccess ? 'We have sent link on your email to reset your password.' : 'Enter your email to search your account.'}}</p>
        
        <div class="form-container" *ngIf="!isForgotSuccess">
            <input type="email" id="email" class="input" placeholder="Email" [(ngModel)]="email"
                (keyup.enter)="isValid() ? submit() : null">
            <p style="color: red;" *ngIf="!isEmailValid">Invalid email</p>
        </div>
    
        <div class="form-container" style="margin-left: 5px;" *ngIf="!isForgotSuccess">
            <button class="arc-btn-retro" style="margin-left: auto !important;" 
                (click)="submit()" [disabled]="!isValid()">
                Search
            </button>
        </div>

        <div class="form-container" style="margin-left: 5px;" *ngIf="isForgotSuccess">
            <button class="arc-btn-retro" style="margin-left: auto !important;" 
                (click)="toLogin()">
                Back To Login
            </button>
        </div>
    </div>
</div>