<div class="container">
    <div style="width: 300px;">
        <h3>Reset Password</h3>

        <p>Please put your new password.</p>

        <div class="form-container">
            <input type="password" id="password" class="input" placeholder="Password" [(ngModel)]="password">
        </div>

        <div class="form-container">
            <input type="password" id="re-password" class="input" placeholder="Re-Password" [(ngModel)]="rePassword">
            <p style="color: red;" *ngIf="isPasswordMissmatch">Password missmatch</p>
        </div>
    
        <div class="form-container" style="margin-left: 5px;">
            <button class="arc-btn-retro" style="margin-left: auto !important;" 
                (click)="submit()" [disabled]="!isValid()">
                Reset
            </button>
        </div>
    </div>
</div>